/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*==================== GOOGLE FONT ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font Weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================ Variables Dark theme ================*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
    background-color: #1a1823;
    color: #d8d8d8;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: "Open Sans";
    color: #3D52D5;
    font-weight: bold;
    letter-spacing: 2.1px;
    font-size: 21px;
    padding-left: 12px;
}
div div h4 {
    padding-left: 3%;
}
p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    padding-left: 12px;
}
.bg-grey{
    background-color: #31302F;
}

/* Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.four.columns {
    width: 25%;
}
.eight.columns {
    width: 75%;
}

/* Graph Control Objects ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-user-controls {
    padding-left: 55px;
    padding-top: 64px;
}
.div-for-dropdown {
    width: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.div-for-button {
    padding-top: 12px;
    padding-bottom: 12px;
}
.div-for-slider {
    width: 97%;
    text-align: center;
}
.div-for-chart {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#price_candlestick {
    flex-grow: 1;
    padding-left: 3%;
    padding-right: 3%;
}
#volume_bar {
    flex-grow: 1;
    padding-left: 3%;
    padding-right: 3%;
}
#price_change {
    flex-grow: 1;
    padding-left: 3%;
    padding-right: 3%;
}

/* Graph Control Objects ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
    background-color: #1E1E1E;
    color: white;
}
.Select-control {
    border: 0.5px solid #dbdbdb44;
    transition-duration: 1s;
    transition-property: border-color, box-shadow, margin-top;    
}
.Select-control:hover {
    border-color:  lightcoral;
    box-shadow: 6px 6px 2px 1px mediumvioletred;
    margin-top: 2%;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}
.DateInput_input.DateInput_input_1 {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    font-size: 15px;
}
.DateRangePicker_picker, .DateRangePickerInput__withBorder, .DayPicker_focusRegion {
    border-radius: 3px;
    border: 0.5px solid #dbdbdb44;
    color: #dbdbdb;
    background-color: #1e1e1e;
}
.CalendarMonthGrid {
    background-color: #1e1e1e;
}
.CalendarMonth {
    background-color: #1e1e1e;
}
.CalendarMonth_caption, .DayPicker_weekHeader {
    color: white;
}
.CalendarDay {
    background-color: #3D52D5;
    border-color: white;
}
.DateRangePickerInput_arrow_svg, .DateRangePickerInput_arrow_svg_1 {
    Height: 20px;
    Width: 20px;
}

/* Submit Button ––––––––––––––––––––––––––––––––––––––––––––––––––*/
#submit_button {
    border-radius: 3px;
    border: 0.5px solid #dbdbdb44;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
    transition-duration: 1s;
    transition-property: border-color, box-shadow, margin-top;
}
#submit_button:hover {
    border-color:  lightcoral;
    box-shadow: 6px 6px 2px 1px mediumvioletred;
    margin-top: 2%;
}