body {
    font-family: sans-serif;
    background-color: #1a1823;
}
h1 {
    color: #3D52D5;
    padding-top: 20;
    text-align: center;
}
h4 {
    padding-right: 30;
    color: #A1B5D7;
}
.chart_title {
    color: #3D52D5;
}
.app_slicer {
    width: 510;
    display: inline-block;
    vertical-align: top;
    padding-left: 40;
    margin-bottom: 20;
}