body {
    font-family: sans-serif;
    background-color: white;
}
h1 {
    color: #e76f51;
    padding-top: 20;
    text-align: center;
}
.chart_title {
    background-color: #e76f51;
    color: white;
}
.app_slicer {
    width: 510;
    display: inline-block;
    vertical-align: top;
    padding-left: 40;
    margin-bottom: 20;
}
