body {
    font-family: sans-serif;
    background-color: #1a1823;
}
h1 {
    color: #f7931a;
    padding-top: 20;
    text-align: center;
}
.chart_title {
    color: #f7931a;
}
.app_slicer {
    width: 510;
    display: inline-block;
    vertical-align: top;
    padding-left: 40;
    margin-bottom: 20;
}
